section, .intro {
    font-size: 1.125rem;
    color: #ffc700;
    max-width: 56.25rem;
    padding: 3rem;
    background-color: #18354a;
    border: 1px solid lightgray;
    margin: 2rem auto;
    text-align: center;
    
    height: max-content;
}