body {
    display: flex;
    justify-content: center;
}


.list {
    border: 1px solid black;
    background-color: bisque;
    border-radius: 15px;
    width: 600px;
    height: 450px;
}

h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.list li {
    list-style: none;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}

.background {
    background-image: url(./birds.png) ;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    padding: 70px 0 100px 0;
}

.list a:hover {
    color: black;
}

.list a {
    text-decoration: none;
    color: rgb(148, 148, 17);
}

.birds {
    margin: 0;
    padding:  0;
}

